$primary-color: #d7d9ce;
$secondary-color: #832232;
$tertiary-color: #2274a5;
$quarternary-color: #040404;
$quinary-color: #eac435;
$link-color: #507dbc;
$link-clicked-color: #32004a;

$trebuchet-font: "Trebuchet MS", Tahoma, sans-serif;
$font-base-size: 16px;
