<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Barcelona⚽️</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ../partials/header %>

    <h2 class="homepage-title">Barcelona</h2>
    <img class="teamlogo" src="/images/barcelonalogo.png" alt="Barcelona Logo">
    <a class="official-site barca" href="https://www.fcbarcelona.com/">Official Site</a>
    <div class="team-info fcb">
      <h3>Team Info:</h3>
      <p>
        League: La Liga <br>
        Stadium: Camp Nou<br>
        Head Coach: Luis Enrique<br>
      </p>
      <p>Trophies Won:</p>
      <ul>
        <li>La Liga: 24</li>
        <li>European Cup / UEFA Champions League: 5</li>
        <li>Copa del Rey: 28</li>
        <li>Supercopa de Espana: 12</li>
        <li>UEFA Super Cup: 5</li>
        <li>FIFA Club World Cup: 3</li>
      </ul>
    </div>
  </body>
</html>
