<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chelsea⚽️</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ../partials/header %>

    <h2 class="homepage-title">Chelsea</h2>
    <img class="teamlogo" src="/images/chelsealogo.png" alt="Chelsea Logo">
    <a class="official-site chelsea" href="http://www.chelseafc.com/">Official Site</a>
    <div class="team-info ch">
      <h3>Team Info:</h3>
      <p>
        League: Barclay's Premier League<br>
        Stadium: Stamford Bridge<br>
        Head Coach: Antonio Conte<br>
      </p>
      <p>Trophies Won:</p>
      <ul>
        <li>Premier League: 5</li>
        <li>European Cup / UEFA Champions League: 1</li>
        <li>UEFA Europa League: 1</li>
        <li>League Cup: 5</li>
        <li>FA Cup: 7</li>
        <li>UEFA Super Cup: 1</li>
      </ul>
    </div>
  </body>
</html>
