
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Soccer Fansite!⚽️</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ../partials/header %>

    <h2 class="homepage-title">Welcome to<br>The Matt Dennis Soccer Fansite!</h2>
    <div class="league-logos">
      <a href="http://usa.laliga.es/en/"><img src="/images/laligalogo.png" alt="La Liga Logos"></a>
      <a href="https://www.premierleague.com/"><img src="/images/bpl-logo.gif" alt="BPL Logo"></a>
      <a href="http://www.legaseriea.it/en/"><img src="/images/serie-a.png" alt="Serie A Logo"></a>
    </div>

  </body>
</html>
