
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Soccer Fansite!⚽️</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ../partials/header %>

    <h2 class="homepage-title">Welcome to<br>The Matt Dennis Soccer Fansite!</h2>
    <div class="league-logos">
      <img src="/images/laligalogo.png" alt="La Liga Logos">
      <img src="/images/bpl-logo.gif" alt="BPL Logo">
      <img src="/images/serie-a.png" alt="Serie A Logo">
    </div>

  </body>
</html>
