<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Juventus⚽️</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ../partials/header %>

    <h2 class="homepage-title">Juventus</h2>
    <img class="teamlogo" src="/images/juventuslogo.png" alt="Juventus Logo">
    <a class="official-site juve" href="http://www.juventus.com/en/">Official Site</a>
    <div class="team-info ju">
      <h3>Team Info:</h3>
      <p>
        League: Serie A<br>
        Stadium: Juventus Stadium<br>
        Head Coach: Massimiliano Allegri<br>
      </p>
      <p>Trophies Won:</p>
      <ul>
        <li>Serie A: 32</li>
        <li>European Cup / UEFA Champions League: 2</li>
        <li>UEFA Europa League / UEFA Cup: 1</li>
        <li>Coppa Italia: 11</li>
        <li>Supercoppa Italia: 7</li>
        <li>UEFA Super Cup: 2</li>
      </ul>
    </div>
  </body>
</html>
