<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Real Madrid⚽️</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ../partials/header %>

    <h2 class="homepage-title">Real Madrid</h2>
    <img class="teamlogo" src="/images/Real_Madrid.png" alt="Real Madrid Logo">
    <a class="official-site real" href="http://www.realmadrid.com/en">Official Site</a>
    <div class="team-info rm">
      <h3>Team Info:</h3>
      <p>
        League: La Liga <br>
        Stadium: Santiago Bernabéu Stadium<br>
        Head Coach: Zinedine Zidane<br>
      </p>
      <p>Trophies Won:</p>
      <ul>
        <li>La Liga: 32</li>
        <li>European Cup / UEFA Champions League: 11</li>
        <li>UEFA Cup / UEFA Europa League: 2</li>
        <li>Copa del Rey: 19</li>
        <li>Supercopa de Espana: 9</li>
        <li>UEFA Super Cup: 3</li>
        <li>FIFA Club World Cup: 2</li>
      </ul>
    </div>
  </body>
</html>
