<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Real Madrid⚽️</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ../partials/header %>

    <h2 class="homepage-title">Real Madrid</h2>
    <img class="teamlogo" src="/images/Real_Madrid.png" alt="Real Madrid Logo">
    <a class="official-site real" href="http://www.realmadrid.com/en">Official Site</a>
    <div class="team-info rm">
      <% include ../partials/teaminfo %>
    </div>
  </body>
</html>
